<h1>The Greatest Books of all Space and Time!</h1>
<div class='row'>
	
	<% @books.each do |book| %>
		<div class="col s6 offset-s1">
			<%= link_to book.title, book_path(book) %> By: <%= book.author %> Rank: <%= book.rank %>
		</div>	
			
	<% end %>
</div>
	
