<h1><%= @book.title %></h1>
<!-- <a target='_blank'  href='https://www.amazon.com/gp/product/1451626657/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1451626657&linkCode=as2&tag=kensbooks32-20&linkId=3809f16a23ae2d37977be744fc8b2eb2'><img border='0' src='//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1451626657&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=kensbooks32-20' ></a><img src='//ir-na.amazon-adsystem.com/e/ir?t=kensbooks32-20&l=am2&o=1&a=1451626657' width='1' height='1' border='0' alt=' style='border:none !important; margin:0px !important;' /> -->


<%= @link %>